<app>
    <name>第三方仓储通信控件</name>
    <description>第三方仓储通信控件</description>

    <author>
        <name>shopex开发团队</name>
        <email>dev@shopex.cn</email>
        <url>http://www.shopex.cn</url>
    </author>

    <version>0.1</version>
    <license>shopex license</license>
    <parent_model_class>dbeav_model</parent_model_class>

	<depends>
        <app>ome</app>
	</depends>
</app>
