<form action="index.php?<{$env.server.QUERY_STRING}>" id="memo_form" method="post">
<div class="tableform">
  <input type="hidden" name='order[order_id]' value="<{$order.order_id}>">
  <h4>订单备注</h4>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
   <tr>
   <th align='right'><{t}>标记：<{/t}></th>
   <td align='left'>
   	  <{foreach from=$order.mark_type_arr item=item key=key}>
      <label><input type='radio' name='order[mark_type]' value='<{$key}>' id='<{$key}>' <{if $order.mark_type==$key}>checked="checked"<{/if}> ><img src='<{$item}>' width='20' height='20'></label>
      <{/foreach}>
   </tr>
   <{if $order.mark_text}>
   <tr>
      <th><{t}>订单备注：<{/t}></th>
      <td>
        <{foreach from=$order.mark_text item=items}>
        <div id="memo_show">
	    <b><{$items.op_content|escape:"HTML"}></b> <{$items.op_time}> by <{$items.op_name}>
	    </div>
	    <{/foreach}>
      </td>
    </tr>
    <{/if}>
	<tr>
		<th>默认备注信息：</th>
		<td>
			<select width="100" onchange="wirte_default(this)">
				<option value=''></option>
				<option value='无人接听'>无人接听</option>
                <option value='审单中发现订单异常'>审单中发现订单异常</option>
				<option value='补开/重开发票'>补开/重开发票</option>
				<option value='退货单无法生成'>退货单无法生成</option>
				<option value='顾客升级'>顾客升级</option>
				<option value='缺货跟进'>缺货跟进</option>
				<option value='退款跟进'>退款跟进</option>
				<option value='其他'>其他</option>
			</select>
		</td>
	</tr>
    <tr>
      <th><{t}>追加备注：<{/t}></th>
      <td><textarea name="order[mark_text]" id="memo" rows="6" vtype="required" style="width:80%"></textarea>
      </td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td><{button type="submit" label="保存" }></td>
    </tr>
    </table>  
</div>
</form>




<script>
    window.addEvent('domready',function(){
        if('<{$order.mark_type}>'!=''){
            $('<{$order.mark_type}>').checked = true;
        }else{
            $('b1').checked = true;
        }
    });

	function wirte_default(obj){
		var default_memo = obj.value;
		var memo = $('memo').value;
		 $('memo').value = default_memo+' '+memo;
	}
</script>
