 
<div class="tableform">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
 <{if $arrCard=="1"}>
  <tr>
      <td >
        <h4>礼品卡信息:无</h4>
		</td>
		<td></td>
	</tr>
 <{else}>
    <tr>
      <td >
        <h4>礼品卡信息:</h4>
		</td>
		<td></td>
	</tr>
	 <tr>
	 <td style="width:100px;"></td>
      <td >
       <{$arrCard.message1}>
		</td>
	</tr>
	 <tr><td style="width:100px;"></td>
      <td >
       <{$arrCard.message2}>
		</td>
	</tr>
	 <tr><td style="width:100px;"></td>
      <td >
       <{$arrCard.message3}>
		</td>
	</tr>
	 <tr><td style="width:100px;"></td>
      <td >
       <{$arrCard.message4}>
		</td>
	</tr>
	 <tr><td style="width:100px;"></td>
      <td >
       <{$arrCard.message5}>
		</td>
	</tr>
	 <tr><td style="width:100px;"></td>
      <td >
       <{$arrCard.message6}>
		</td>
	</tr>
	<{/if}>
</table></div>