<div class="tableform">
<h4>质检凭证</h4>
<div class="division">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="33%"><{input type="image" value=$info.image1 width="200" height="200"}></th>
    <td width="33%"><{input type="image" value=$info.image2 width="200" height="200"}></td>
    <td width="34%"><{input type="image" value=$info.image3 width="200" height="200"}></td>
  </tr>
</table>

</div>
</div>
<div class="tableform">
<table cellspacing="0" cellpadding="0" border="0" class="gridlist">
<tr>
    <td><b><{t}>质检备注：<{/t}></b><{$info.qa_memo}></td>
  </tr>
  
</table>
</div>

 

