<app version="0.1">
    <name>邮件配置中心</name>

    <description>配置邮件服务，以及模板</description>

    <author>
        <name>d1m开发团队</name>
        <email>dev@d1m.cn</email>
        <url>http://www.d1m.cn</url>
    </author>

    <version>0.1</version>
    <license>shopex license</license>

	<depends>
		<app>setup</app>
		<app>desktop</app>
	</depends>
</app>
