<div id='shop-list'>
<form method='post' action='index.php?app=customs&ctl=admin_orders&act=dodeclare&action=<{$action}>&view=<{$view}>' id="form-order" name="order_frm" isCloseDialog>
    <table width="100%" >
        <tbody>
            <tr>
              <td width="50">&nbsp;</td>
              <td>&nbsp;</td>
        </tr>
            <tr>
                <td><input type='hidden' name='cid' value='<{$cid}>'></input></td>
                <td><span style="color:red;">*</span>本次批量操作可查询申报订单共 <b style="color:red;"><{$count}></b> 个！
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确认后，请点击<em style="color:red;">“查询申报单状态”</em>按钮？
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="table-action">
          <table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td>
                <{if $count > 0}>
                <button class="btn btn-primary" id="btn-submit" onclick='dosubmit()'><span><span><{t}>查询申报单状态<{/t}></span></span></button>
                <{/if}>
                </td>
              </tr>
            </tbody>
      </table>
  </div>
</form>
<script>
function dosubmit(){
    $("form-order").fireEvent('submit',{stop:function(){}});
}
(function(){
  var finder = finderGroup['<{$env.get.finder_id}>'];

})();
</script>
</div>