<h3>magento配置</h3>
  <form method="post" action="index.php?app=omemagento&ctl=admin_order_test&act=test" id="whitelist">
    <div style="text-align:right;padding:3px 30px"></div>

  <table class="tableform" style="width:99%;">
    <tbody>
      <tr>
        <th><{t}>request URL：<{/t}></th>
        <td><{input type="text" name='request_url' size="30" value=$request_url}>      
        </td>
      </tr>
    </tbody>
  </table>
  <div class="table-action">
	<{button type="submit"  label=$___omemagento="保存"|t:'site'}>
  </div>
  </form>


