<{if $config.is_config eq 'off'}> 
    <div class="tableform">
        <span class="red"><{$config.error_msg}></span>
    </div>
<{else}>
<input type="hidden" name="shop_id" value="<{$shop_id}>" />
<input type="hidden" name="order_type" id="order_type" value="<{$order_type}>" />
  <div class="division">
     订单号:<{input vtype="required" name="order_id" value="" id="order_bn"}>
    <{button type="submit" label="立即获取订单详情" class="btn-secondery" id="btn_manual"}>
  </div>


<script>

  if($("btn_manual")){
   $("btn_manual").addEvent("click",function(e){
        new Request({
        url:'index.php?app=ome&ctl=admin_shop&act=sync_order',
        data:'order_id='+$("order_bn").value+"&shop_id="+"<{$shop_id}>&order_type="+$("order_type").value,
        method:'post',
        onSuccess:function(response){
        	var resp =  JSON.decode(response);
        	if(resp.rsp=="fail"){
    				var msg = resp.msg ? resp.msg : resp.res;
    				MessageBox.error(msg);
        	}else{ MessageBox.success("获取成功");}
		    }
      }).send();
   });
  }

</script>
<{/if}>
