<{capture name="header"}>
  <link href="../app/wms/statics/wms.css" rel="stylesheet" type="text/css">
<{/capture}>

<div class="tableform">
<h4>货品信息:</h4>
<div class="division">
<table border="0" cellspacing="0" class="gridlist" cellpadding="0">
<thead>
<tr>
    <th>货号:</th>
    <th>货品名称:</th>
    <th>货品数量:</th>
    <th>均单价</th>
    <th>优惠金额:</th>
    <th>实收</th>
</tr></thead>
<tbody><{foreach from=$items item=item}>
<tr>
    <td><{$item.bn}></td>
    <td><{$item.product_name}></td>
    <td><font color="red"><{$item.number}><input type="hidden" name="num[<{$item.item_id}>]" value="<{$item.number}>" /></font></td>
    <td><{$item.price}></td>
	<td><{$item.pmt_price}></td>
    <td><{$item.sale_price}></td>

</tr>
<{/foreach}>
</tbody>
</table>
</div>
</div>